h1 {
    color: green;
}
ol {
    color: red;
}
h2 {
    color: green ;
}
table, th, td {
    border: 1px;
    width: 50%;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

html {

scroll-behavior: smooth;

}

#section1 {

  }
  
  #section2 {
    
  }

  .Gliederung {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }